 @media(min-width:468px){
.container-1{
    display: flex;
}
.footer{
    display: flex;
    align-items:center;

}
}
main{
    background-color: #59a99f;
}
.container-1 div{
    border: 1px #a1cbbf solid;
    padding: 3px;

}
.image{
    align-items: center;
    background-color: #a1cbbf;
}

.footer div{
    margin-top: 20%;
}

img{
    width: 250px;
    height: 340px;
    border-radius: 50%
}
.p1{
    flex: 3; 
    background-color: #a1cbbf;
}
.qualification{
    flex: 1;
    background-color:#d8c6ad;
}
.contact{
    flex: 2;
    text-align: end;
}
.copy{
flex: 2;
    text-align: start;
}
